#main-menu{

    height:220px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

body {

    text-align: center;
    background-color: aliceblue;

}

#wrapper {

    width: 960px;
    margin: 15px auto;
    text-align: left;
}

h1 {
    
    text-align: center;
    font: bold 24px Verdana, sans-serif;
    font-style: italic;
    color: navy;
}

h2 {
    
    font: bold 20px verdana, sans-serif;
    color: navy;
}

h3 { 

    font: bold 18px verdana, sans-serif;
    color: navy;

}

 #box1{ 

     height:90px;
     display:flex;
     flex-direction:column;
     flex-wrap:wrap;
 }

 
 hr {

     color:rebeccapurple;
     line-height: 5px;
 }


.text {

    margin-left: 180 px;

}
#photo{

    width:160px;
    height:200px;

}

#data {
    
    font: bold 14px verdana, sans-serif;
    color: navy;
    
}
#rs{
    width:70px;
    height:35px;
        
}
 time {
    font: italic 14px arial, sans-serif;
}

